<%= stylesheet_link_tag  'scaffolds', media: 'all', 'data-turbolinks-track' => true %>
<p id="notice"><%= notice %></p>

<p>
  <strong><%=t('Document number')=%>:</strong>
  <%= @invoice.DOCUMENT_NUMBER %>
</p>

<p>
  <strong>Value:</strong>
  <%= @invoice.VALUE %>
</p>

<p>
  <strong>Descount:</strong>
  <%= @invoice.DESCOUNT %>
</p>

<p>
  <strong>Addition:</strong>
  <%= @invoice.ADDITION %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
