<%= stylesheet_link_tag  'scaffolds', media: 'all', 'data-turbolinks-track' => true %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customerprovider.NAME %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customerprovider.ADDRESS %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customerprovider.EMAIL %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @customerprovider.BIRTHDAY %>
</p>

<p>
  <strong>Cpfcnpj:</strong>
  <%= @customerprovider.CPFCNPJ %>
</p>

<p>
  <strong>Fisoujur:</strong>
  <%= @customerprovider.FISOUJUR %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @customerprovider.PHONE1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @customerprovider.PHONE2 %>
</p>

<p>
  <strong>Cuspro:</strong>
  <%= @customerprovider.CUSPRO %>
</p>

<%= link_to 'Edit', edit_customerprovider_path(@customerprovider) %> |
<%= link_to 'Back', customerproviders_path %>
