<%= form_for(@record_financial) do |f| %>
  <% if @record_financial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record_financial.errors.count, "error") %> prohibited this record_financial from being saved:</h2>

      <ul>
      <% @record_financial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :FINANCIAL_id %><br>
    <%= f.text_field :FINANCIAL_id %>
  </div>
  <div class="field">
    <%= f.label :RECORD_id %><br>
    <%= f.text_field :RECORD_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
