<p id="notice"><%= notice %></p>

<h1>Listing Perfil Processes</h1>

<table>
  <thead>
    <tr>
      <th>Perfil</th>
      <th>Procc</th>
      <th>Able</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perfil_processes.each do |perfil_process| %>
      <tr>
        <td><%= perfil_process.PERFIL %></td>
        <td><%= perfil_process.PROCC %></td>
        <td><%= perfil_process.ABLE %></td>
        <td><%= link_to 'Show', perfil_process %></td>
        <td><%= link_to 'Edit', edit_perfil_process_path(perfil_process) %></td>
        <td><%= link_to 'Destroy', perfil_process, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Perfil process', new_perfil_process_path %>
