<%= stylesheet_link_tag  'scaffolds', media: 'all', 'data-turbolinks-track' => true %>
<%= form_for(@financial) do |f| %>
  <% if @financial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@financial.errors.count, "error") %> prohibited this financial from being saved:</h2>

      <ul>
      <% @financial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NATURE %><br>
    <%= f.text_field :NATURE %>
  </div>
  <div class="field">
    <%= f.label :CUSTOMERPROVIDER_id %><br>
    <%= f.text_field :CUSTOMERPROVIDER_id %>
  </div>
  <div class="field">
    <%= f.label :PAID %><br>
    <%= f.check_box :PAID %>
  </div>
  <div class="field">
    <%= f.label :BANK_id %><br>
    <%= f.text_field :BANK_id %>
  </div>
  <div class="field">
    <%= f.label :DATE_EMISSION %><br>
    <%= f.date_select :DATE_EMISSION, {:order => [:day, :month, :year], :use_month_numbers => true} %>
  </div>
  <div class="field">
    <%= f.label :DATE_DUE %><br>
    <%= f.date_select :DATE_DUE, {:order => [:day, :month, :year], :use_month_numbers => true} %>
  </div>
  <div class="field">
    <%= f.label :DATE_PAYMENT %><br>
    <%= f.date_select :DATE_PAYMENT, {:order => [:day, :month, :year], :use_month_numbers => true} %>
  </div>
  <div class="field">
    <%= f.label :VALUE %><br>
    <%= f.text_field :VALUE %>
  </div>
  <div class="field">
    <%= f.label :DISCOUNT %><br>
    <%= f.text_field :DISCOUNT %>
  </div>
  <div class="field">
    <%= f.label :MULCT %><br>
    <%= f.text_field :MULCT %>
  </div>
  <div class="field">
    <%= f.label :INTEREST %><br>
    <%= f.text_field :INTEREST %>
  </div>
  <div class="field">
    <%= f.label :VALUE_PAID %><br>
    <%= f.text_field :VALUE_PAID %>
  </div>
  <div class="field">
    <%= f.label :RECORD_id %><br>
    <%= f.text_field :RECORD_id %>
  </div>
  <div class="field">
    <%= f.label :HISTORY %><br>
    <%= f.text_area :HISTORY %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
