<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag  'scaffolds', media: 'all', 'data-turbolinks-track' => true %>

<p>
  <strong>ID:</strong>
  <%= @car.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @car.NAME %>
</p>

<p>
  <strong>Chassi:</strong>
  <%= @car.CHASSI %>
</p>

<p>
  <strong>Status:</strong>
  <%= @car.STATUS %>
</p>

<p>
  <strong>Fabyear:</strong>
  <%= @car.FABYEAR %>
</p>

<p>
  <strong>Modelyear:</strong>
  <%= @car.MODELYEAR %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @car.FUEL %>
</p>

<p>
  <strong>Km:</strong>
  <%= @car.KM %>
</p>

<p>
  <strong>New:</strong>
  <%= @car.NEW %>
</p>

<p>
  <strong>Colorex:</strong>
  <%= @car.COLOREX %>
</p>

<p>
  <strong>Colorin:</strong>
  <%= @car.COLORIN %>
</p>

<p>
  <strong>Plate:</strong>
  <%= @car.PLATE %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @car.TRANSMISSION %>
</p>

<p>
  <strong>Fipevalue:</strong>
  <%= @car.FIPEVALUE %>
</p>

<p>
  <strong>Buyvalue:</strong>
  <%= @car.BUYVALUE %>
</p>

<p>
  <strong>Sellvalue:</strong>
  <%= @car.SELLVALUE %>
</p>

<p>
  <strong>Specs:</strong>
  <%= @car.SPECS %>
</p>

<p>
  <strong>Filial:</strong>
  <%= @car.FILIAL %>
</p>

<%= link_to 'Nova Remontagem', new_rebuild_path(carro: @car.id) %></br></br>
<%= link_to 'Edit', edit_car_path(@car) %> | <%= link_to 'Back', cars_path %>
