<%= form_for(@rebuild_car) do |f| %>
  <% if @rebuild_car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rebuild_car.errors.count, "error") %> prohibited this rebuild_car from being saved:</h2>

      <ul>
      <% @rebuild_car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CAR_id %><br>
    <%= f.text_field :CAR_id %>
  </div>
  <div class="field">
    <%= f.label :REBUILD_id %><br>
    <%= f.text_field :REBUILD_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
