<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @rebuild_car.CAR %>
</p>

<p>
  <strong>Rebuild:</strong>
  <%= @rebuild_car.REBUILD %>
</p>

<%= link_to 'Edit', edit_rebuild_car_path(@rebuild_car) %> |
<%= link_to 'Back', rebuild_cars_path %>
