<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag  'scaffolds', media: 'all', 'data-turbolinks-track' => true %>
<h1>Listing Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Bank</th>
      <th>Agency</th>
      <th>Account code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.BANK %></td>
        <td><%= account.AGENCY %></td>
        <td><%= account.ACCOUNT_CODE %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
